/* line 19, ../../styles/cropme.scss */
cropme {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 24, ../../styles/cropme.scss */
cropme .step-1 {
  font-family: helvetica, arial, sans-serif;
  position: relative;
  display: block;
  background-color: #f0f0f0;
  border: 4px dashed #cccccc;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, ../../styles/cropme.scss */
cropme .cropme-file-input {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
}
/* line 40, ../../styles/cropme.scss */
cropme input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 47, ../../styles/cropme.scss */
cropme .cropme-button {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background: #3ba5b3;
  color: white;
  height: 50px;
  width: 250px;
  margin-left: -125px;
  line-height: 50px;
  -webkit-box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  -moz-box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
}
/* line 58, ../../styles/cropme.scss */
cropme .cropme-button:hover {
  background: #3799a6;
  color: #e6fafc;
}
/* line 62, ../../styles/cropme.scss */
cropme .cropme-button.deactivated {
  opacity: 0.5;
  pointer-events: none;
}
/* line 67, ../../styles/cropme.scss */
cropme .cropme-or {
  pointer-events: none;
  text-align: center;
  color: #cccccc;
  margin-top: 25px;
  width: 20px;
  margin-left: -10px;
}
/* line 75, ../../styles/cropme.scss */
cropme .cropme-label {
  margin-top: 25px;
  width: 150px;
  margin-left: -75px;
  pointer-events: none;
  text-align: center;
  color: #444444;
}
/* line 83, ../../styles/cropme.scss */
cropme .cropme-error {
  margin-top: 10px;
  text-align: center;
  color: #da4b3e;
}
/* line 88, ../../styles/cropme.scss */
cropme dropbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 95, ../../styles/cropme.scss */
cropme dropbox.not-available {
  background-color: #fff0f0;
}
/* line 98, ../../styles/cropme.scss */
cropme dropbox.over {
  background-color: #e5ffea;
}
/* line 101, ../../styles/cropme.scss */
cropme dropbox.loading {
  background-color: #aaffaa;
}
/* line 105, ../../styles/cropme.scss */
cropme .overlay-tile {
  position: absolute;
  opacity: 0.5;
  background-color: #000;
}
/* line 110, ../../styles/cropme.scss */
cropme .overlay-border {
  position: absolute;
  border: 2px solid #328d99;
}
/* line 114, ../../styles/cropme.scss */
cropme .step-2 {
  position: relative;
  cursor: crosshair;
  overflow: hidden;
}
/* line 118, ../../styles/cropme.scss */
cropme .step-2.col-resize {
  cursor: col-resize;
}
/* line 120, ../../styles/cropme.scss */
cropme img {
  float: left;
}
/* line 121, ../../styles/cropme.scss */
cropme canvas {
  display: none;
}
