@import "compass";
@import "compass/css3/user-interface";

$text_color: #444;
$text_color_inverse: #fff;
$text_color_inverse_alt: #e6fafc;
$text_color_2: #ccc;
$background_color: #f0f0f0;
$shine_color: #ccc;
$alert_color: #da4b3e;
$alert_color_background: #fff0f0;
$success_color_background: #e5ffea;
$success_color_background_2: #aaffaa;
$color: #328d99;
$color_alt: #3799a6;
$color_alt_2: #3ba5b3;
$line_color: #ccc;

cropme {
	display: block;
	width: 100%;
	height: 100%;
	@include user-select(none);
	.step-1 {
		font-family: helvetica, arial, sans-serif;
		position: relative;
		display: block;
		background-color: $background_color;
		border: 4px dashed $line_color;
		letter-spacing: 1px;
		font-size: 15px;
		@include box-sizing(border-box);
	}
	.cropme-file-input {
		position: absolute;
		top: 20%;
		left: 50%;
		width: 0;
	}
	input[type=file] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.cropme-button {
		font-weight: bold;
		cursor: pointer;
		text-align: center;
		background: $color_alt_2;
		color: $text_color_inverse;
		height: 50px;
		width: 250px;
		margin-left: -125px;
		line-height: 50px;
		@include box-shadow($shine_color 2px 2px 1px 0, $color 0 0 2px 2px inset);
		&:hover {
			background: $color_alt;
			color: $text_color_inverse_alt;
		}
		&.deactivated {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	.cropme-or {
		pointer-events: none;
		text-align: center;
		color: $text_color_2;
		margin-top: 25px;
		width: 20px;
		margin-left: -10px;
	}
	.cropme-label {
		margin-top: 25px;
		width: 150px;
		margin-left: -75px;
		pointer-events: none;
		text-align: center;
		color: $text_color;
	}
	.cropme-error {
		margin-top: 10px;
		text-align: center;
		color: $alert_color;
		position: relative;
	}
	dropbox {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&.not-available {
			background-color: $alert_color_background;
		}
		&.over {
			background-color: $success_color_background;
		}
		&.loading {
			background-color: $success_color_background_2;
		}
	}
	.overlay-tile {
		position: absolute;
		opacity: 0.5;
		background-color: #000;
	}
	.overlay-border {
		position: absolute;
		border: 2px solid $color;
	}
	.step-2 {
		position: relative;
		cursor: move;
		overflow: hidden;
	}
	img { float: left; }
	canvas { display: none; }
}
